@use 'base/variables' as v;
html {
  font-size: 62.5%;
  box-sizing: border-box;
 
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body{
    font-size: 1.6rem; //tamaño para todo el proyecto
}
p{
    font-size: 2rem;
    
}
.contenedor{
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
h1,h2,h3{
    margin: 0 0 5rem 0;
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3.6rem;
}
h3{
    font-size: 3rem;
}
img{
    max-width: 100%;
    display: block;
    width: 100%;
    height: auto; //esto por usar el width 200 y height 300
}