@use "base/mixins" as m;
@use "base/variables" as v;
.capitulos {
  @include m.tablet {
    @include m.grid(2, 2rem);
  }
  padding-top: 1rem;
  text-align: center;
 
  .capitulo {
    border-bottom: 1px solid v.$negro;
    margin-bottom: 1rem;
    padding-bottom: 1.5rem;
    /* background-color: red; */
    p {
      text-align: justify;
      font-size: 2rem;
      margin-top: 1rem;
      
    }
    h2{
        margin: 0;
    }
  }
}
