@use "base/mixins" as m;
@use "base/variables" as v;
.footer {
  background-color: v.$negro;
  padding: 2rem;
  margin-top: 2rem;
  h1 {
    color: v.$rojo;
    @include m.tablet {
        margin: 0;
        padding: 0;
    }
    
    text-align: center;
    padding-bottom: 2rem;
  }
  .contenido-del-footer {
      @include m.tablet {
        display: flex;
        justify-content: space-between;
        align-items: center; 
      }
    
  }
}
.navegacion-principal{
    @include m.tablet {
        display: flex;
        gap: 2rem;
    }
    a{
        display: block;
        text-align: center;
    }
}