@use "base/mixins" as m;
@use "base/variables" as v;
.galeria {
  h3 {
    text-align: center;
    padding-top: 1rem;
  }


  .contenido-boton{
     background-color: v.$blanco;
     padding: .5rem;
     width: 100%;
     color: v.$negro;
     font-size: 1.8rem;
     letter-spacing: .5rem;
     font-weight: 400;
     border-radius: 2rem;
     margin-top: .5rem;
     cursor: pointer;
     
     &:hover{
         background-color: v.$negro;
         color: v.$rojo;
         padding: .8rem;
         
     }
  }
}
.galeria-imagenes {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  @include m.telefono {
    @include m.grid(3, 2rem);
  }
  @include m.tablet {
    @include m.grid(4, 2rem);
  }
}
