@use "base/mixins" as m;
@use "base/variables" as v;
//fondo al header
.header {
  background-color: v.$negro;
  padding: 2rem; //ancho del header
  h1 {
    color: v.$rojo;
    text-align: center;
    @include m.tablet {
        margin: 0; //quita el margen al h1 y no se vera tan ancho
    }
    
    
  }
  /* a esta clase se le aplicara el flex para alinear los enlaces a la derecha 
  y el titulo o h1 a la izquierda pero a los enlaces aun les falta el ponerse uno al lado del otro */
  .contenido-del-header {
    @include m.tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
//darle estilo a los enlaces
.navegacion-principal {
    // aqui es donde los enlaces se colocan uno despues del otro 
    @include m.tablet {
        display: flex;
        gap: 2rem;
    }
  a {
    display: block; //enlaces de arriba hacia abajo
    text-align: center;
    margin-bottom: 1rem;
    color: v.$rojo;
    font-size: 2.3rem;
    @include m.tablet {
        margin: 0;
    }
    //hover a los enlaces
    &:hover {
      font-size: 2.9rem;
      color: v.$blanco;
    }
  }
}
