@use "base/mixins" as m;
@use "base/variables" as v;
.imagen {
  @include m.tablet {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: calc(100% - 3rem);
      height: 0.4rem;
      background-color: v.$blanco;
      transition: all 0.3s;
    }
    &::before {
      left: -100%;
      top: 1rem;
    }
    &::after {
      left: 100%;
      bottom: 1rem;
    }
    &:hover::before,
    &:hover::after {
      left: 15%;
    }
    .imagen__overlay {
      position: absolute;
      background-color: v.$negro;
      color: v.$blanco;
      width: 100%;
      height: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      /* transform: scale(1.5); */
      opacity: 0;
      &:hover {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}
.contenido-imagen {
  h1 {
    padding-top: 1rem;
    margin: 0;
  }
  p {
    margin: 0;
    padding-top: 1rem;
  }
}
